@import './variables';
@import './normalize';
@import './fonts';

body {
  padding: 0;
  margin: 0;
  background-image: url(../assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
