//  Colors
//==========================================================================
$c-background: #ffffff;
$c-lightBlue: #16bac6;
$c-darkBlue: #195F6B;
$c-mainText: #112025;
$c-greyLight: #EFF0F4;
// Fonts
//==========================================================================
$f-baseFontFamily: 'Ubuntu', sans-serif;
